html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

container {
    margin-left: auto
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(180deg, #aaf0d1, #f0aac9);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

rowery {
    position: absolute
}

footer {
    margin-top: auto;
    background-image: linear-gradient(180deg, black, black);
}
